@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  /* 10px */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem;
  position: relative;
}

.social-media-header {
  background-color: hsl(225, 100%, 98%);
  height: 50vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem 3rem;
  padding-bottom: 5rem;
  width: 100%;
}

.social-media-header h1 {
  font-size: 3.052rem;
  color: hsl(230, 17%, 14%);
  font-weight: 700;
}

.social-media-header p {
  font-size: 2rem;
  color: hsl(228, 12%, 44%);
  font-weight: 700;
  line-height: 0;
  padding-bottom: 5rem;
  border-bottom: 1px solid hsl(230, 17%, 14%);
}

.social-media-header h3 {
  margin: 0;
  font-size: 1.953rem;
  color: hsl(228, 12%, 44%);
  font-weight: 700;
}

.theme-switch {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem 0rem 2rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(230, 22%, 74%);
  border-radius: 34px;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  right: 4px;
  bottom: 4px;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background: #b892ff;
}

input:checked + .slider::before {
  transform: translateX(-26px);
}

.social-media-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-media-card {
  width: 75%;
  padding: 5rem;
  background-color: hsl(227, 47%, 96%);
  margin-top: 3rem;
  border-radius: 10px;
  border-top: 5px solid transparent;
  z-index: 999;
}

.username {
  display: flex;
  justify-content: center;
  align-self: center;
  font-size: 1.5rem;
  color: hsl(228, 12%, 44%);
  font-weight: bold;
}

.username img {
  padding-right: 0.7rem;
}

.followers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.followers strong {
  font-size: 5rem;
  color: hsl(230, 17%, 14%);
  padding-top: 3rem;
}

.followers span {
  color: hsl(228, 12%, 44%);
  letter-spacing: 3px;
  font-size: 1.3rem;
  padding-bottom: 3rem;
}

.updated-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.updated-numbers span {
  font-size: 1.5rem;
  padding-left: 0.5rem;
  color: hsl(163, 72%, 41%);
  font-weight: bold;
}

.facebook-card {
  margin-top: 22rem;
  border-top-color: hsl(208, 92%, 53%);
}

.twitter-card {
  border-top-color: hsl(203, 89%, 53%);
}

.instagram-card {
  border-top: double 5px transparent;
  background-image: linear-gradient(hsl(227, 47%, 96%), hsl(227, 47%, 96%)),
    linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.youtube-card {
  border-color: hsl(348, 97%, 39%);
}
